<h1><b>Sintax</b></h1>
In this file there is the basic elements to start using the R language

In [2]:
# This is a comment.
# It will not be executed and it is usefull to organize the code
# e.g. describing what a certain block of commands do.

In [3]:
# The Notebook will automatically display the outputs when using R

4

[1] 4

In [4]:
# This is a atribution of a value to a variable
# Variables are used to store stuff like values or functions that can be called back at any time  
# An attribution does not have an output
var1 <- 55

In [6]:
# This output the stored value

var1

[1] 55

In [8]:
# Calculatios can be performed

2 + 2

[1] 4

In [1]:
# This is equivalent to ^

2**8

[1] 256

In [10]:
2^8

[1] 256

In [11]:
# Calculations can be performed with the values assigned to a variable

var1*2

[1] 110

In [12]:
# Creating a second variable

var2 <- 10

In [13]:
var2 * var1

[1] 550

In [14]:
var3 <- var2 * var1

In [15]:
var3

[1] 550

In [17]:
# This display the result as a text on the screen

print(var3)

[1] 550

In [18]:
# This is a string

redacao <- "Olá mundo"

In [19]:
print(redacao)

[1] "Olá mundo"

In [20]:
# This is what heppens if you call a variable that does not exist

var4

ERROR: Error in eval(expr, envir, enclos): objeto 'var4' não encontrado

In [25]:
i <- 17

In [26]:
# A conditional function if

if(i<18){
    print("Menor de idade")
}else{
    print("Maior de idade")
}

[1] "Menor de idade"

In [4]:
#Imposto de renda
s <- 15000

In [5]:
# A more elaborate conditional function with more than one condition
# Note that for the funciton bellow the order of the conditions matters

if(s<10000){
    ir<-0
}else if(s<30000){
    ir<-.3
}else{
    ir<-.4
}

In [6]:
print(ir)

[1] 0.3

In [7]:
# The line ir<-.3 will never be executed because the function stop checking the condtions after the first true condition

if(s<30000){
    ir<-0
}else if(s<10000){
    ir<-.3
}else{
    ir<-.4
}

In [8]:
# This gives a string as output with the complete computation of the value

print(paste("Meu imposto é:", s*ir))

[1] "Meu imposto é: 0"

In [1]:
# Vectors can store multiple variables

vetor1 <- c(1,2,"tres")

In [2]:
vetor1

[1] "1"    "2"    "tres"

In [3]:
# This show the type of variable
# The numbers where converted to character because a vector cannot contain more than one type of variable

class(vetor1)

[1] "character"

In [4]:
# This gives the type of variable, the size and the content

str(vetor1)

 chr [1:3] "1" "2" "tres"

In [5]:
vet_num <- c(1,2,3,4,10)

In [6]:
vet_num

[1]  1  2  3  4 10

In [7]:
str(vet_num)

 num [1:5] 1 2 3 4 10

In [8]:
# A single value of the vector can be called

vet_num[5]

[1] 10

In [9]:
# This is a inexistent index 

vet_num[6]

[1] NA

In [10]:
# Changing the value of a element of the vector

vet_num[1]<-100

In [11]:
vet_num

[1] 100   2   3   4  10

In [13]:
# Adding a element to the vector

vet_num[6]<-1000
vet_num

[1]  100    2    3    4   10 1000

In [15]:
vet_num[20]<-500
vet_num

 [1]  100    2    3    4   10 1000   NA   NA   NA   NA   NA   NA   NA   NA   NA
[16]   NA   NA   NA   NA  500

In [17]:
# A empty variable

vetor3<-c()
vetor3
class(vetor3)
str(vetor3)

NULL

[1] "NULL"

 NULL

In [18]:
# Creating a list
# A list can contain more than one variable and one variable type in each element 

lista1<-list(vetor1,vet_num)
lista1

[[1]]
[1] "1"    "2"    "tres"

[[2]]
 [1]  100    2    3    4   10 1000   NA   NA   NA   NA   NA   NA   NA   NA   NA
[16]   NA   NA   NA   NA  500

In [19]:
class(lista1)
str(lista1)

[1] "list"

List of 2
 $ : chr [1:3] "1" "2" "tres"
 $ : num [1:20] 100 2 3 4 10 1000 NA NA NA NA ...

In [21]:
# Displaying the elements of a list

lista1[1] #Displays the line
lista1[[1]] #Displays the variable of the line
lista1[[1]][3] #Display one element of the line

[[1]]
[1] "1"    "2"    "tres"

[1] "1"    "2"    "tres"

[1] "tres"

In [23]:
# Adding a new element to the list

lista1[[1]][4]<-"Dez"
lista1[[1]]

[1] "1"    "2"    "tres" "Dez"