In [1]:
#Criando o seu data frame

v1 <- c(1958, 1962, 1970, 1994, 2002)
v2 <- c(1,1,2,3,5)
v3 <- c(10,100,1000,5,25)

df <- data.frame(v1, v2, v3)

df

  v1   v2 v3
1 1958 1    10
2 1962 1   100
3 1970 2  1000
4 1994 3     5
5 2002 5    25

In [2]:
#Como ler os dados do data frame?

df$v1

[1] 1958 1962 1970 1994 2002

In [3]:
df[1]

  v1
1 1958
2 1962
3 1970
4 1994
5 2002

In [4]:
 df["v1"]

  v1
1 1958
2 1962
3 1970
4 1994
5 2002

In [5]:
#Acessando as linhas

df[1,]

  v1   v2 v3
1 1958 1  10

In [6]:
df[2,3]

[1] 100

In [7]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [10]:
head(mtcars, 3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [9]:
tail(mtcars)

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

In [11]:
names(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [13]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [14]:
nrow(mtcars)

ncol(mtcars)

dim(mtcars)

[1] 32

[1] 11

[1] 32 11

In [15]:
#Selecionando apenas algumas colunas

subset <- mtcars[c("mpg", "cyl")]

In [16]:
head(subset)

                  mpg  cyl
Mazda RX4         21.0 6
Mazda RX4 Wag     21.0 6
Datsun 710        22.8 4
Hornet 4 Drive    21.4 6
Hornet Sportabout 18.7 8
Valiant           18.1 6

In [17]:
subset_rows <- mtcars[c(5, 8),]

head(subset_rows)

                  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
Merc 240D         24.4 4   146.7  62 3.69 3.19 20.00 1  0  4    2

In [20]:
mtcars[c(1,3,10),c(1,4)]

           mpg  hp
Mazda RX4  21.0 110
Datsun 710 22.8  93
Merc 280   19.2 123

In [1]:
getwd()

[1] "C:/Users/andre/Google Drive/Work/OMNP/R"

In [2]:
setwd("Dados")

getwd()

[1] "C:/Users/andre/Google Drive/Work/OMNP/R/Dados"

In [3]:
base_dados <- read.table("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
                        header = F, sep = ",")

In [4]:
is.data.frame(base_dados)

[1] TRUE

In [5]:
head(base_dados)

  V1 V2                V3     V4         V5 V6
1 39  State-gov         77516  Bachelors 13  Never-married
2 50  Self-emp-not-inc  83311  Bachelors 13  Married-civ-spouse
3 38  Private          215646  HS-grad    9  Divorced
4 53  Private          234721  11th       7  Married-civ-spouse
5 28  Private          338409  Bachelors 13  Married-civ-spouse
6 37  Private          284582  Masters   14  Married-civ-spouse
  V7                 V8             V9     V10     V11  V12 V13 V14
1  Adm-clerical       Not-in-family  White  Male   2174 0   40   United-States
2  Exec-managerial    Husband        White  Male      0 0   13   United-States
3  Handlers-cleaners  Not-in-family  White  Male      0 0   40   United-States
4  Handlers-cleaners  Husband        Black  Male      0 0   40   United-States
5  Prof-specialty     Wife           Black  Female    0 0   40   Cuba
6  Exec-managerial    Wife           White  Female    0 0   40   United-States
  V15
1  <=50K
2  <=50K
3  <=50K
4  <=50K
5  <=50K
6  <=50K

In [6]:
names(base_dados) <- c("age", "workclass", "fnlwgt", "education", "education-num", "marital-status"
                      ,"occupation", "occupation", "race", "sex", "capital-gain", "capital-loss", "hours-per-week"
                      ,"native-country", "target")

In [7]:
names(base_dados)

 [1] "age"            "workclass"      "fnlwgt"         "education"
 [5] "education-num"  "marital-status" "occupation"     "occupation"
 [9] "race"           "sex"            "capital-gain"   "capital-loss"
[13] "hours-per-week" "native-country" "target"

In [8]:
#INvestigando a base de dados

dim(base_dados)

nrow(base_dados)

ncol(base_dados)

[1] 32561    15

[1] 32561

[1] 15

In [10]:
str(base_dados)

'data.frame':	32561 obs. of  15 variables:
 $ age           : int  39 50 38 53 28 37 49 52 31 42 ...
 $ workclass     : Factor w/ 9 levels " ?"," Federal-gov",..: 8 7 5 5 5 5 5 7 5 5 ...
 $ fnlwgt        : int  77516 83311 215646 234721 338409 284582 160187 209642 45781 159449 ...
 $ education     : Factor w/ 16 levels " 10th"," 11th",..: 10 10 12 2 10 13 7 12 13 10 ...
 $ education-num : int  13 13 9 7 13 14 5 9 14 13 ...
 $ marital-status: Factor w/ 7 levels " Divorced"," Married-AF-spouse",..: 5 3 1 3 3 3 4 3 5 3 ...
 $ occupation    : Factor w/ 15 levels " ?"," Adm-clerical",..: 2 5 7 7 11 5 9 5 11 5 ...
 $ occupation    : Factor w/ 6 levels " Husband"," Not-in-family",..: 2 1 2 1 6 6 2 1 2 1 ...
 $ race          : Factor w/ 5 levels " Amer-Indian-Eskimo",..: 5 5 5 3 3 5 3 5 5 5 ...
 $ sex           : Factor w/ 2 levels " Female"," Male": 2 2 2 2 1 1 1 2 1 2 ...
 $ capital-gain  : int  2174 0 0 0 0 0 0 0 14084 5178 ...
 $ capital-loss  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ hours-per-week: int  40 13 40 40 40 40 16 45 50 40 ...
 $ native-country: Factor w/ 42 levels " ?"," Cambodia",..: 40 40 40 40 6 40 24 40 40 40 ...
 $ target        : Factor w/ 2 levels " <=50K"," >50K": 1 1 1 1 1 1 1 2 2 2 ...

In [11]:
summary(base_dados)

      age                    workclass         fnlwgt
 Min.   :17.00    Private         :22696   Min.   :  12285
 1st Qu.:28.00    Self-emp-not-inc: 2541   1st Qu.: 117827
 Median :37.00    Local-gov       : 2093   Median : 178356
 Mean   :38.58    ?               : 1836   Mean   : 189778
 3rd Qu.:48.00    State-gov       : 1298   3rd Qu.: 237051
 Max.   :90.00    Self-emp-inc    : 1116   Max.   :1484705
                 (Other)          :  981
         education     education-num                  marital-status
  HS-grad     :10501   Min.   : 1.00    Divorced             : 4443
  Some-college: 7291   1st Qu.: 9.00    Married-AF-spouse    :   23
  Bachelors   : 5355   Median :10.00    Married-civ-spouse   :14976
  Masters     : 1723   Mean   :10.08    Married-spouse-absent:  418
  Assoc-voc   : 1382   3rd Qu.:12.00    Never-married        :10683
  11th        : 1175   Max.   :16.00    Separated            : 1025
 (Other)      : 5134                    Widowed              :  993
            occupation             occupation                     race
  Prof-specialty :4140    Husband       :13193    Amer-Indian-Eskimo:  311
  Craft-repair   :4099    Not-in-family : 8305    Asian-Pac-Islander: 1039
  Exec-managerial:4066    Other-relative:  981    Black             : 3124
  Adm-clerical   :3770    Own-child     : 5068    Other             :  271
  Sales          :3650    Unmarried     : 3446    White             :27816
  Other-service  :3295    Wife          : 1568
 (Other)         :9541
      sex         capital-gain    capital-loss    hours-per-week
  Female:10771   Min.   :    0   Min.   :   0.0   Min.   : 1.00
  Male  :21790   1st Qu.:    0   1st Qu.:   0.0   1st Qu.:40.00
                 Median :    0   Median :   0.0   Median :40.00
                 Mean   : 1078   Mean   :  87.3   Mean   :40.44
                 3rd Qu.:    0   3rd Qu.:   0.0   3rd Qu.:45.00
                 Max.   :99999   Max.   :4356.0   Max.   :99.00

        native-country     target
  United-States:29170    <=50K:24720
  Mexico       :  643    >50K : 7841
  ?            :  583
  Philippines  :  198
  Germany      :  137
  Canada       :  121
 (Other)       : 1709

In [14]:
summary(base_dados$"hours-per-week")

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00   40.00   40.00   40.44   45.00   99.00

In [15]:
#Adicionando uma nova coluna

base_dados$age_class <- ifelse(base_dados$age > 55, "Senior", NA)
base_dados$age_class <- ifelse(base_dados$age > 25 & base_dados$age <=55, "Mid-Age", base_dados$age_class)
base_dados$age_class <- ifelse(base_dados$age <= 24, "Young", base_dados$age_class)

In [16]:
summary(base_dados$age_class)

   Length     Class      Mode
    32561 character character

In [17]:
#Descobrindo o dataframe

table(base_dados$age_class)

Mid-Age  Senior   Young
  22061    4089    5570

In [18]:
table(base_dados$age_class, base_dados$sex)

           Female  Male
  Mid-Age    6733 15328
  Senior     1217  2872
  Young      2508  3062

In [20]:
tab_age_sex <- table(base_dados$age_class, base_dados$sex)

tab_age_sex

           Female  Male
  Mid-Age    6733 15328
  Senior     1217  2872
  Young      2508  3062

In [21]:
#Lendo os dados em percentuais proposcionais

prop.table(tab_age_sex)
prop.table(tab_age_sex,1)
prop.table(tab_age_sex,2)

round(prop.table(tab_age_sex,2)*100,2)

              Female       Male
  Mid-Age 0.21226356 0.48322825
  Senior  0.03836696 0.09054224
  Young   0.07906683 0.09653216

             Female      Male
  Mid-Age 0.3051992 0.6948008
  Senior  0.2976278 0.7023722
  Young   0.4502693 0.5497307

             Female      Male
  Mid-Age 0.6438133 0.7209105
  Senior  0.1163702 0.1350767
  Young   0.2398164 0.1440128

           Female  Male
  Mid-Age   64.38 72.09
  Senior    11.64 13.51
  Young     23.98 14.40

In [22]:
base_dados[order(base_dados$age),]

      age workclass         fnlwgt education     education-num
107   17   ?                304873  10th         6
210   17   Private           65368  11th         7
263   17   Private          245918  11th         7
272   17   Private          191260  9th          5
336   17   Private          270942  5th-6th      3
372   17   Private           89821  11th         7
422   17   Private          175024  11th         7
432   17   ?                202521  11th         7
450   17   ?                258872  11th         7
477   17   Private          211870  9th          5
573   17   Private          242718  11th         7
610   17   Private          169658  10th         6
672   17   ?                 80077  11th         7
673   17   Self-emp-not-inc 368700  11th         7
677   17   Private          102726  12th         8
745   17   Private          316929  12th         8
805   17   Private          193830  11th         7
815   17   Private           32607  10th         6
841   17   Private          198124  11th         7
868   17   Private          368700  11th         7
1075  17   Private          220384  11th         7
1326  17   ?                138507  10th         6
1348  17   ?                145886  11th         7
1390  17   Private           46496  11th         7
1453  17   ?                333100  10th         6
1479  17   Private          197850  11th         7
1520  17   Local-gov         32124  9th          5
1547  17   Private          163494  10th         6
1552  17   Private          130806  10th         6
1692  17   Private          103851  11th         7
...   ... ...               ...    ...           ...
8807  90   Private           87372  Prof-school  15
8964  90   ?                 77053  HS-grad       9
8974  90   Private           46786  Bachelors    13
10211 90   Self-emp-not-inc 282095  Some-college 10
10546 90   Private          175491  HS-grad       9
11513 90   Private           87285  HS-grad       9
11732 90   ?                 39824  HS-grad       9
11997 90   Private           40388  Bachelors    13
12452 90   ?                225063  Some-college 10
12976 90   Private          250832  10th          6
14160 90   Local-gov        187749  Assoc-acdm   12
15357 90   Private           90523  HS-grad       9
15893 90   Private           88991  Bachelors    13
18278 90   Private          311184  Bachelors    13
18414 90   Private          313749  Bachelors    13
18726 90   Local-gov        153602  HS-grad       9
18833 90   Private          115306  Masters      14
19213 90   Private          139660  Some-college 10
19490 90   Private           84553  HS-grad       9
19748 90   Private          226968  7th-8th       4
20611 90   Private          206667  Masters      14
22221 90   Private           52386  Bachelors    13
24044 90   Self-emp-not-inc  82628  HS-grad       9
24239 90   ?                166343  1st-4th       2
25304 90   ?                175444  7th-8th       4
28464 90   Federal-gov      195433  HS-grad       9
31031 90   Private           47929  HS-grad       9
31697 90   ?                313986  HS-grad       9
32278 90   Private          313749  HS-grad       9
32368 90   Local-gov        214594  7th-8th       4
      marital-status      occupation         occupation
107    Never-married       ?                  Own-child
210    Never-married       Sales              Own-child
263    Never-married       Other-service      Own-child
272    Never-married       Other-service      Own-child
336    Never-married       Other-service      Other-relative
372    Never-married       Other-service      Own-child
422    Never-married       Handlers-cleaners  Own-child
432    Never-married       ?                  Own-child
450    Never-married       ?                  Own-child
477    Never-married       Other-service      Not-in-family
573    Never-married       Sales              Own-child
610    Never-married       Other-service      Own-child
672    Never-married       ?                  Own-child
673    Never-married       Farming-fishing    Own-child
677    Never-married       Other-service      Own-child
745    Never-married       Handlers-cleaners  Own-child
805    Never-married       Sales              Own-child
815    Never-married       Farming-fishing    Own-child
841    Never-married       Sales              Own-child
868    Never-married       Sales              Own-child
1075   Never-married       Adm-clerical       Own-child
1326   Never-married       ?                  Own-child
1348   Never-married       ?                  Own-child
1390   Never-married       Other-service      Own-child
1453   Never-married       ?                  Own-child
1479   Never-married       Adm-clerical       Own-child
1520   Never-married       Other-service      Own-child
1547   Never-married       Sales              Own-child
1552   Never-married       Handlers-cleaners  Own-child
1692   Never-married       Adm-clerical       Own-child
...   ...                 ...                ...
8807   Married-civ-spouse  Prof-specialty     Husband
8964   Widowed             ?                  Not-in-family
8974   Married-civ-spouse  Sales              Husband
10211  Married-civ-spouse  Farming-fishing    Husband
10546  Married-civ-spouse  Craft-repair       Husband
11513  Never-married       Other-service      Own-child
11732  Widowed             ?                  Not-in-family
11997  Never-married       Exec-managerial    Not-in-family
12452  Never-married       ?                  Own-child
12976  Married-civ-spouse  Exec-managerial    Husband
14160  Married-civ-spouse  Adm-clerical       Husband
15357  Widowed             Transport-moving   Unmarried
15893  Married-civ-spouse  Exec-managerial    Wife
18278  Married-civ-spouse  Sales              Husband
18414  Never-married       Prof-specialty     Own-child
18726  Married-civ-spouse  Other-service      Husband
18833  Never-married       Exec-managerial    Own-child
19213  Divorced            Sales              Unmarried
19490  Married-civ-spouse  Machine-op-inspct  Husband
19748  Married-civ-spouse  Machine-op-inspct  Husband
20611  Married-civ-spouse  Prof-specialty     Wife
22221  Never-married       Prof-specialty     Not-in-family
24044  Never-married       Exec-managerial    Not-in-family
24239  Widowed             ?                  Not-in-family
25304  Separated           ?                  Not-in-family
28464  Married-civ-spouse  Craft-repair       Husband
31031  Married-civ-spouse  Machine-op-inspct  Husband
31697  Married-civ-spouse  ?                  Husband
32278  Widowed             Adm-clerical       Unmarried
32368  Married-civ-spouse  Protective-serv    Husband
      race                sex     capital-gain capital-loss hours-per-week
107    White               Female 34095        0            32
210    White               Female     0        0            12
263    White               Male       0        0            12
272    White               Male    1055        0            24
336    White               Male       0        0            48
372    White               Male       0        0            10
422    White               Male    2176        0            18
432    White               Male       0        0            40
450    White               Female     0        0             5
477    White               Male       0        0             6
573    White               Male       0        0            12
610    White               Female     0        0            21
672    White               Female     0        0            20
673    White               Male       0        0            10
677    White               Male       0        0            16
745    White               Male       0        0            20
805    White               Female     0        0            20
815    White               Male       0        0            20
841    White               Male       0        0            20
868    White               Male       0        0            28
1075   White               Male       0        0            15
1326   White               Male       0        0            20
1348   White               Female     0        0            30
1390   White               Male       0        0             5
1453   White               Male    1055        0            30
1479   Asian-Pac-Islander  Female     0        0            24
1520   Black               Male       0        0             9
1547   White               Male       0        0            30
1552   White               Male       0        0            24
1692   White               Female  1055        0            20
...   ...                 ...     ...          ...          ...
8807   White               Male   20051           0         72
8964   White               Female     0        4356         40
8974   White               Male    9386           0         15
10211  White               Male       0           0         40
10546  White               Male    9386           0         50
11513  White               Female     0           0         24
11732  White               Male     401           0          4
11997  White               Male       0           0         55
12452  Asian-Pac-Islander  Male       0           0         10
12976  White               Male       0           0         40
14160  Asian-Pac-Islander  Male       0           0         20
15357  White               Male       0           0         99
15893  White               Female     0           0         40
18278  White               Male       0           0         20
18414  White               Female     0           0         10
18726  White               Male    6767           0         40
18833  White               Female     0           0         40
19213  Black               Female     0           0         37
19490  White               Male       0           0         40
19748  White               Male       0           0         40
20611  White               Female     0           0         40
22221  Asian-Pac-Islander  Male       0           0         40
24044  White               Male    2964           0         12
24239  Black               Female     0           0         40
25304  White               Female     0           0         15
28464  White               Male       0           0         30
31031  White               Male       0           0         40
31697  White               Male       0           0         40
32278  White               Female     0           0         25
32368  White               Male    2653           0         40
      native-country target age_class
107    United-States  <=50K Young
210    United-States  <=50K Young
263    United-States  <=50K Young
272    United-States  <=50K Young
336    Mexico         <=50K Young
372    United-States  <=50K Young
422    United-States  <=50K Young
432    United-States  <=50K Young
450    United-States  <=50K Young
477    United-States  <=50K Young
573    United-States  <=50K Young
610    United-States  <=50K Young
672    United-States  <=50K Young
673    United-States  <=50K Young
677    United-States  <=50K Young
745    United-States  <=50K Young
805    United-States  <=50K Young
815    United-States  <=50K Young
841    United-States  <=50K Young
868    United-States  <=50K Young
1075   United-States  <=50K Young
1326   United-States  <=50K Young
1348   United-States  <=50K Young
1390   United-States  <=50K Young
1453   United-States  <=50K Young
1479   United-States  <=50K Young
1520   United-States  <=50K Young
1547   United-States  <=50K Young
1552   United-States  <=50K Young
1692   United-States  <=50K Young
...   ...            ...    ...
8807   United-States  >50K  Senior
8964   United-States  <=50K Senior
8974   United-States  >50K  Senior
10211  United-States  <=50K Senior
10546  Ecuador        >50K  Senior
11513  United-States  <=50K Senior
11732  United-States  <=50K Senior
11997  United-States  <=50K Senior
12452  South          <=50K Senior
12976  United-States  <=50K Senior
14160  Philippines    <=50K Senior
15357  United-States  <=50K Senior
15893  England        >50K  Senior
18278  ?              <=50K Senior
18414  United-States  <=50K Senior
18726  United-States  <=50K Senior
18833  United-States  <=50K Senior
19213  United-States  <=50K Senior
19490  United-States  <=50K Senior
19748  United-States  <=50K Senior
20611  United-States  >50K  Senior
22221  United-States  <=50K Senior
24044  United-States  <=50K Senior
24239  United-States  <=50K Senior
25304  United-States  <=50K Senior
28464  United-States  <=50K Senior
31031  United-States  <=50K Senior
31697  United-States  >50K  Senior
32278  United-States  <=50K Senior
32368  United-States  <=50K Senior

In [23]:
base_dados[order(base_dados$age, decreasing = T),]

      age workclass         fnlwgt education     education-num
223   90   Private           51744  HS-grad       9
1041  90   Private          137018  HS-grad       9
1936  90   Private          221832  Bachelors    13
2304  90   Private           52386  Some-college 10
2892  90   Private          171956  Some-college 10
4071  90   Private          313986  11th          7
4110  90   ?                256514  Bachelors    13
5105  90   Private           52386  Some-college 10
5273  90   Private          141758  9th           5
5371  90   Local-gov        227796  Masters      14
5407  90   Private           51744  Masters      14
6233  90   Self-emp-not-inc 155981  Bachelors    13
6625  90   Private          313986  11th          7
8807  90   Private           87372  Prof-school  15
8964  90   ?                 77053  HS-grad       9
8974  90   Private           46786  Bachelors    13
10211 90   Self-emp-not-inc 282095  Some-college 10
10546 90   Private          175491  HS-grad       9
11513 90   Private           87285  HS-grad       9
11732 90   ?                 39824  HS-grad       9
11997 90   Private           40388  Bachelors    13
12452 90   ?                225063  Some-college 10
12976 90   Private          250832  10th          6
14160 90   Local-gov        187749  Assoc-acdm   12
15357 90   Private           90523  HS-grad       9
15893 90   Private           88991  Bachelors    13
18278 90   Private          311184  Bachelors    13
18414 90   Private          313749  Bachelors    13
18726 90   Local-gov        153602  HS-grad       9
18833 90   Private          115306  Masters      14
...   ... ...               ...    ...           ...
30027 17   Private          160029  11th         7
30074 17   Private          116626  11th         7
30209 17   ?                 34019  10th         6
30210 17   ?                250541  11th         7
30230 17   Private          231438  11th         7
30329 17   Private          128617  10th         6
30403 17   ?                 48703  11th         7
30445 17   ?                371316  10th         6
30514 17   ?                187539  11th         7
30580 17   Private           27415  11th         7
30667 17   Private          143868  9th          5
30777 17   ?                219277  11th         7
30835 17   Private           79682  10th         6
30849 17   Private          106733  11th         7
30890 17   Private          169155  12th         8
30899 17   Local-gov        192387  9th          5
30928 17   Private          108470  11th         7
31040 17   Private          160049  10th         6
31074 17   ?                 41643  11th         7
31095 17   ?                172145  10th         6
31132 17   Private          277541  11th         7
31440 17   Private          375657  11th         7
31659 17   Private          309504  10th         6
31701 17   Private          141590  11th         7
31759 17   ?                171461  10th         6
31773 17   ?                256173  10th         6
31865 17   Private          214787  12th         8
31960 17   Private           24090  HS-grad      9
32283 17   Private          311907  11th         7
32448 17   Private          117798  10th         6
      marital-status      occupation         occupation
223    Never-married       Other-service      Not-in-family
1041   Never-married       Other-service      Not-in-family
1936   Married-civ-spouse  Exec-managerial    Husband
2304   Never-married       Other-service      Not-in-family
2892   Separated           Adm-clerical       Own-child
4071   Never-married       Handlers-cleaners  Own-child
4110   Widowed             ?                  Other-relative
5105   Never-married       Other-service      Not-in-family
5273   Never-married       Adm-clerical       Not-in-family
5371   Married-civ-spouse  Exec-managerial    Husband
5407   Never-married       Exec-managerial    Not-in-family
6233   Married-civ-spouse  Prof-specialty     Husband
6625   Married-civ-spouse  Craft-repair       Husband
8807   Married-civ-spouse  Prof-specialty     Husband
8964   Widowed             ?                  Not-in-family
8974   Married-civ-spouse  Sales              Husband
10211  Married-civ-spouse  Farming-fishing    Husband
10546  Married-civ-spouse  Craft-repair       Husband
11513  Never-married       Other-service      Own-child
11732  Widowed             ?                  Not-in-family
11997  Never-married       Exec-managerial    Not-in-family
12452  Never-married       ?                  Own-child
12976  Married-civ-spouse  Exec-managerial    Husband
14160  Married-civ-spouse  Adm-clerical       Husband
15357  Widowed             Transport-moving   Unmarried
15893  Married-civ-spouse  Exec-managerial    Wife
18278  Married-civ-spouse  Sales              Husband
18414  Never-married       Prof-specialty     Own-child
18726  Married-civ-spouse  Other-service      Husband
18833  Never-married       Exec-managerial    Own-child
...   ...                 ...                ...
30027  Never-married       Other-service      Other-relative
30074  Never-married       Handlers-cleaners  Own-child
30209  Never-married       ?                  Own-child
30210  Never-married       ?                  Own-child
30230  Never-married       Adm-clerical       Own-child
30329  Never-married       Handlers-cleaners  Own-child
30403  Never-married       ?                  Own-child
30445  Never-married       ?                  Own-child
30514  Never-married       ?                  Own-child
30580  Never-married       Handlers-cleaners  Own-child
30667  Never-married       Other-service      Own-child
30777  Never-married       ?                  Own-child
30835  Never-married       Priv-house-serv    Other-relative
30849  Never-married       Craft-repair       Own-child
30890  Never-married       Other-service      Own-child
30899  Never-married       Other-service      Own-child
30928  Never-married       Other-service      Own-child
31040  Never-married       Other-service      Own-child
31074  Never-married       ?                  Own-child
31095  Never-married       ?                  Own-child
31132  Never-married       Sales              Own-child
31440  Never-married       Handlers-cleaners  Own-child
31659  Never-married       Sales              Unmarried
31701  Never-married       Priv-house-serv    Own-child
31759  Never-married       ?                  Own-child
31773  Never-married       ?                  Own-child
31865  Never-married       Adm-clerical       Own-child
31960  Never-married       Exec-managerial    Own-child
32283  Never-married       Other-service      Own-child
32448  Never-married       Other-service      Own-child
      race                sex     capital-gain capital-loss hours-per-week
223    Black               Male       0        2206         40
1041   White               Female     0           0         40
1936   White               Male       0           0         45
2304   Asian-Pac-Islander  Male       0           0         35
2892   White               Female     0           0         40
4071   White               Male       0           0         40
4110   White               Female   991           0         10
5105   Asian-Pac-Islander  Male       0           0         35
5273   White               Female     0           0         40
5371   White               Male   20051           0         60
5407   Black               Male       0           0         50
6233   White               Male   10566           0         50
6625   White               Male       0           0         40
8807   White               Male   20051           0         72
8964   White               Female     0        4356         40
8974   White               Male    9386           0         15
10211  White               Male       0           0         40
10546  White               Male    9386           0         50
11513  White               Female     0           0         24
11732  White               Male     401           0          4
11997  White               Male       0           0         55
12452  Asian-Pac-Islander  Male       0           0         10
12976  White               Male       0           0         40
14160  Asian-Pac-Islander  Male       0           0         20
15357  White               Male       0           0         99
15893  White               Female     0           0         40
18278  White               Male       0           0         20
18414  White               Female     0           0         10
18726  White               Male    6767           0         40
18833  White               Female     0           0         40
...   ...                 ...     ...          ...          ...
30027  White               Female   0             0         22
30074  White               Male     0          1719         18
30209  White               Male     0             0         20
30210  Black               Male     0             0          8
30230  White               Female   0             0         12
30329  White               Male     0             0         26
30403  White               Female   0             0         30
30445  White               Male     0             0         25
30514  White               Female   0             0         10
30580  Amer-Indian-Eskimo  Male     0             0         20
30667  Black               Male     0             0         40
30777  White               Female   0             0         20
30835  White               Male     0             0         30
30849  White               Male   594             0         40
30890  White               Male     0             0         35
30899  White               Male     0             0         45
30928  Black               Male     0             0         17
31040  White               Female   0             0         12
31074  White               Female   0             0         15
31095  Black               Female   0             0         40
31132  White               Male     0             0          5
31440  White               Male     0             0         30
31659  White               Female   0             0         24
31701  White               Female   0             0         12
31759  White               Female   0             0         20
31773  White               Female   0             0         15
31865  White               Female   0             0         25
31960  White               Female   0             0         35
32283  White               Male     0             0         25
32448  White               Male     0             0         20
      native-country target age_class
223    United-States  <=50K Senior
1041   United-States  <=50K Senior
1936   United-States  <=50K Senior
2304   United-States  <=50K Senior
2892   Puerto-Rico    <=50K Senior
4071   United-States  <=50K Senior
4110   United-States  <=50K Senior
5105   United-States  <=50K Senior
5273   United-States  <=50K Senior
5371   United-States  >50K  Senior
5407   United-States  >50K  Senior
6233   United-States  <=50K Senior
6625   United-States  <=50K Senior
8807   United-States  >50K  Senior
8964   United-States  <=50K Senior
8974   United-States  >50K  Senior
10211  United-States  <=50K Senior
10546  Ecuador        >50K  Senior
11513  United-States  <=50K Senior
11732  United-States  <=50K Senior
11997  United-States  <=50K Senior
12452  South          <=50K Senior
12976  United-States  <=50K Senior
14160  Philippines    <=50K Senior
15357  United-States  <=50K Senior
15893  England        >50K  Senior
18278  ?              <=50K Senior
18414  United-States  <=50K Senior
18726  United-States  <=50K Senior
18833  United-States  <=50K Senior
...   ...            ...    ...
30027  United-States  <=50K Young
30074  United-States  <=50K Young
30209  United-States  <=50K Young
30210  United-States  <=50K Young
30230  United-States  <=50K Young
30329  United-States  <=50K Young
30403  United-States  <=50K Young
30445  United-States  <=50K Young
30514  United-States  <=50K Young
30580  United-States  <=50K Young
30667  United-States  <=50K Young
30777  United-States  <=50K Young
30835  United-States  <=50K Young
30849  United-States  <=50K Young
30890  United-States  <=50K Young
30899  United-States  <=50K Young
30928  United-States  <=50K Young
31040  United-States  <=50K Young
31074  United-States  <=50K Young
31095  United-States  <=50K Young
31132  United-States  <=50K Young
31440  United-States  <=50K Young
31659  United-States  <=50K Young
31701  United-States  <=50K Young
31759  United-States  <=50K Young
31773  United-States  <=50K Young
31865  United-States  <=50K Young
31960  United-States  <=50K Young
32283  United-States  <=50K Young
32448  United-States  <=50K Young

In [24]:
#Agregação de dados

#Contar a quantidade de registros por idade
aggregate(base_dados[,4], list(Idade = base_dados$age), FUN = length)

    Idade x
1   17    395
2   18    550
3   19    712
4   20    753
5   21    720
6   22    765
7   23    877
8   24    798
9   25    841
10  26    785
11  27    835
12  28    867
13  29    813
14  30    861
15  31    888
16  32    828
17  33    875
18  34    886
19  35    876
20  36    898
21  37    858
22  38    827
23  39    816
24  40    794
25  41    808
26  42    780
27  43    770
28  44    724
29  45    734
30  46    737
... ...   ...
44  60    312
45  61    300
46  62    258
47  63    230
48  64    208
49  65    178
50  66    150
51  67    151
52  68    120
53  69    108
54  70     89
55  71     72
56  72     67
57  73     64
58  74     51
59  75     45
60  76     46
61  77     29
62  78     23
63  79     22
64  80     22
65  81     20
66  82     12
67  83      6
68  84     10
69  85      3
70  86      1
71  87      1
72  88      3
73  90     43

In [25]:
aggregate(base_dados[,4], list(Idade = base_dados$age, Estado_Civil = base_dados$'marital-status'), FUN = length)

    Idade Estado_Civil x
1   18     Divorced      1
2   19     Divorced      6
3   20     Divorced      7
4   21     Divorced      4
5   22     Divorced     16
6   23     Divorced     28
7   24     Divorced     29
8   25     Divorced     38
9   26     Divorced     48
10  27     Divorced     56
11  28     Divorced     71
12  29     Divorced     85
13  30     Divorced     95
14  31     Divorced    117
15  32     Divorced    122
16  33     Divorced    126
17  34     Divorced    121
18  35     Divorced    147
19  36     Divorced    163
20  37     Divorced    146
21  38     Divorced    146
22  39     Divorced    166
23  40     Divorced    166
24  41     Divorced    171
25  42     Divorced    173
26  43     Divorced    165
27  44     Divorced    156
28  45     Divorced    178
29  46     Divorced    162
30  47     Divorced    144
... ...   ...          ...
367 58     Widowed     31
368 59     Widowed     30
369 60     Widowed     25
370 61     Widowed     29
371 62     Widowed     41
372 63     Widowed     34
373 64     Widowed     36
374 65     Widowed     38
375 66     Widowed     36
376 67     Widowed     33
377 68     Widowed     26
378 69     Widowed     23
379 70     Widowed     21
380 71     Widowed     21
381 72     Widowed     18
382 73     Widowed     17
383 74     Widowed     19
384 75     Widowed     14
385 76     Widowed     21
386 77     Widowed      6
387 78     Widowed      8
388 79     Widowed      6
389 80     Widowed      6
390 81     Widowed      9
391 82     Widowed      7
392 83     Widowed      3
393 84     Widowed      5
394 85     Widowed      2
395 87     Widowed      1
396 90     Widowed      6

In [26]:
table(base_dados$age, base_dados$'marital-status')

      Divorced  Married-AF-spouse  Married-civ-spouse  Married-spouse-absent
  17         0                  0                   2                      0
  18         1                  0                   7                      1
  19         6                  2                  15                      3
  20         7                  0                  38                      5
  21         4                  0                  53                      6
  22        16                  1                  74                      9
  23        28                  0                 109                      4
  24        29                  1                 173                      7
  25        38                  0                 204                     13
  26        48                  2                 234                      7
  27        56                  1                 270                      8
  28        71                  1                 333                     11
  29        85                  3                 340                     15
  30        95                  3                 394                     15
  31       117                  0                 415                     10
  32       122                  1                 420                      9
  33       126                  0                 428                     15
  34       121                  1                 466                     12
  35       147                  2                 459                     13
  36       163                  0                 476                      7
  37       146                  0                 497                     10
  38       146                  1                 499                     10
  39       166                  0                 448                      9
  40       166                  1                 432                     14
  41       171                  0                 470                     12
  42       173                  0                 448                     14
  43       165                  1                 459                     14
  44       156                  0                 431                     10
  45       178                  0                 420                     10
  46       162                  0                 435                     14
  47       144                  1                 450                     14
  48       123                  0                 320                     13
  49       127                  0                 345                     11
  50       124                  0                 403                     11
  51       108                  0                 386                      8
  52        90                  0                 301                     12
  53        95                  0                 289                      5
  54        69                  0                 273                      4
  55        84                  0                 257                      4
  56        73                  0                 223                      7
  57        62                  0                 227                      5
  58        69                  0                 229                      3
  59        57                  0                 227                      4
  60        54                  0                 214                      5
  61        44                  0                 203                      6
  62        37                  0                 160                      0
  63        29                  0                 145                      3
  64        23                  0                 127                      1
  65        23                  0                 107                      0
  66        14                  0                  89                      1
  67        21                  0                  88                      1
  68        14                  0                  68                      2
  69        10                  0                  65                      1
  70         9                  0                  53                      0
  71         6                  0                  36                      0
  72         7                  0                  36                      2
  73         2                  0                  41                      1
  74         5                  0                  24                      1
  75         2                  1                  22                      2
  76         2                  0                  21                      0
  77         1                  0                  17                      2
  78         0                  0                  13                      0
  79         0                  0                  15                      1
  80         0                  0                  12                      1
  81         3                  0                   8                      0
  82         0                  0                   4                      0
  83         1                  0                   2                      0
  84         0                  0                   4                      0
  85         0                  0                   1                      0
  86         0                  0                   0                      0
  87         0                  0                   0                      0
  88         1                  0                   2                      0
  90         1                  0                  20                      0

      Never-married  Separated  Widowed
  17            393          0        0
  18            539          1        1
  19            681          5        0
  20            695          8        0
  21            651          6        0
  22            651         12        2
  23            717         19        0
  24            567         21        0
  25            562         23        1
  26            468         24        2
  27            477         21        2
  28            418         31        2
  29            347         22        1
  30            320         30        4
  31            305         34        7
  32            245         29        2
  33            258         45        3
  34            242         42        2
  35            210         35       10
  36            198         40       14
  37            158         41        6
  38            135         30        6
  39            151         32       10
  40            135         39        7
  41            107         35       13
  42             94         38       13
  43             90         35        6
  44             93         25        9
  45             80         23       23
  46             76         34       16
  47             60         25       14
  48             47         20       20
  49             53         20       21
  50             33         18       13
  51             45         22       26
  52             35         19       21
  53             35         13       27
  54             33         11       25
  55             24         14       36
  56             27         11       25
  57             22         11       31
  58             30          4       31
  59             24         13       30
  60              8          6       25
  61             14          4       29
  62             15          5       41
  63             13          6       34
  64             15          6       36
  65              7          3       38
  66              8          2       36
  67              7          1       33
  68              8          2       26
  69              6          3       23
  70              6          0       21
  71              8          1       21
  72              2          2       18
  73              3          0       17
  74              1          1       19
  75              4          0       14
  76              2          0       21
  77              3          0        6
  78              2          0        8
  79              0          0        6
  80              3          0        6
  81              0          0        9
  82              1          0        7
  83              0          0        3
  84              1          0        5
  85              0          0        2
  86              1          0        0
  87              0          0        1
  88              0          0        0
  90             14          2        6

In [27]:
#A função table não serve para mais de duas colunas

aggregate(base_dados[,4], list(Idade = base_dados$age
                               , Pais = base_dados$'native-country' 
                               , Estado_Civil = base_dados$'marital-status'), FUN = length)

     Idade Pais           Estado_Civil x
1    28     ?              Divorced    1
2    32     ?              Divorced    1
3    34     ?              Divorced    1
4    35     ?              Divorced    3
5    36     ?              Divorced    3
6    37     ?              Divorced    4
7    38     ?              Divorced    3
8    39     ?              Divorced    2
9    40     ?              Divorced    1
10   41     ?              Divorced    2
11   42     ?              Divorced    3
12   43     ?              Divorced    2
13   44     ?              Divorced    2
14   45     ?              Divorced    2
15   46     ?              Divorced    3
16   48     ?              Divorced    2
17   50     ?              Divorced    2
18   52     ?              Divorced    1
19   53     ?              Divorced    1
20   54     ?              Divorced    1
21   55     ?              Divorced    1
22   56     ?              Divorced    1
23   60     ?              Divorced    1
24   61     ?              Divorced    1
25   64     ?              Divorced    1
26   65     ?              Divorced    2
27   66     ?              Divorced    1
28   81     ?              Divorced    1
29   28     Canada         Divorced    1
30   30     Canada         Divorced    1
...  ...   ...            ...          ...
2217 58     United-States  Widowed     29
2218 59     United-States  Widowed     27
2219 60     United-States  Widowed     23
2220 61     United-States  Widowed     28
2221 62     United-States  Widowed     38
2222 63     United-States  Widowed     30
2223 64     United-States  Widowed     33
2224 65     United-States  Widowed     35
2225 66     United-States  Widowed     32
2226 67     United-States  Widowed     29
2227 68     United-States  Widowed     24
2228 69     United-States  Widowed     22
2229 70     United-States  Widowed     18
2230 71     United-States  Widowed     19
2231 72     United-States  Widowed     16
2232 73     United-States  Widowed     16
2233 74     United-States  Widowed     17
2234 75     United-States  Widowed     12
2235 76     United-States  Widowed     21
2236 77     United-States  Widowed      6
2237 78     United-States  Widowed      7
2238 79     United-States  Widowed      6
2239 80     United-States  Widowed      6
2240 81     United-States  Widowed      6
2241 82     United-States  Widowed      7
2242 83     United-States  Widowed      3
2243 84     United-States  Widowed      5
2244 85     United-States  Widowed      2
2245 87     United-States  Widowed      1
2246 90     United-States  Widowed      6

In [31]:
#Calcular media por titulo de estudo

aggregate(base_dados[,1], list(Educacao=base_dados$education), FUN=mean)

   Educacao      x
1   10th         37.42980
2   11th         32.35574
3   12th         32.00000
4   1st-4th      46.14286
5   5th-6th      42.88589
6   7th-8th      48.44582
7   9th          41.06031
8   Assoc-acdm   37.38144
9   Assoc-voc    38.55355
10  Bachelors    38.90495
11  Doctorate    47.70218
12  HS-grad      38.97448
13  Masters      44.04991
14  Preschool    42.76471
15  Prof-school  44.74653
16  Some-college 35.75627

In [32]:
aggregate(base_dados[,1], list(Educacao=base_dados$education), FUN=min)

   Educacao      x
1   10th         17
2   11th         17
3   12th         17
4   1st-4th      19
5   5th-6th      17
6   7th-8th      17
7   9th          17
8   Assoc-acdm   19
9   Assoc-voc    19
10  Bachelors    19
11  Doctorate    24
12  HS-grad      17
13  Masters      18
14  Preschool    19
15  Prof-school  25
16  Some-college 17

In [33]:
#Os elementos de um data frame são um vetor, qualquer operação feita com um vetor pode ser feita com um data frame

In [34]:
#Família apply, mais rápido que usar o loop for para grandes data sets

In [35]:
df <- mtcars

In [36]:
names(df)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [37]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [38]:
?apply

In [39]:
#Soma de todas as colulas

apply(df, 2, sum)

     mpg      cyl     disp       hp     drat       wt     qsec       vs
 642.900  198.000 7383.100 4694.000  115.090  102.952  571.160   14.000
      am     gear     carb
  13.000  118.000   90.000

In [40]:
#Mesma coisa com o loop for

for (i in 1:length(df)) {
    print(sum(df[,i]))
}

[1] 642.9
[1] 198
[1] 7383.1
[1] 4694
[1] 115.09
[1] 102.952
[1] 571.16
[1] 14
[1] 13
[1] 118
[1] 90

In [42]:
str(apply(df,2,sum))

class(apply(df,2,sum))

 Named num [1:11] 643 198 7383 4694 115 ...
 - attr(*, "names")= chr [1:11] "mpg" "cyl" "disp" "hp" ...

[1] "numeric"

In [43]:
apply(df,2,mean)

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

In [44]:
#lapply
#Aceita lista, vetor ou dataframe como entrada e retorna uma lista. 
#Quando a entrada for um dataframe obrigatoriamente trabalha com colunas.

In [46]:
lapply(df,mean)

$mpg
[1] 20.09062

$cyl
[1] 6.1875

$disp
[1] 230.7219

$hp
[1] 146.6875

$drat
[1] 3.596563

$wt
[1] 3.21725

$qsec
[1] 17.84875

$vs
[1] 0.4375

$am
[1] 0.40625

$gear
[1] 3.6875

$carb
[1] 2.8125

In [47]:
analise <- lapply(df,mean)

analise$mpg

[1] 20.09062

In [48]:
str(analise)

List of 11
 $ mpg : num 20.1
 $ cyl : num 6.19
 $ disp: num 231
 $ hp  : num 147
 $ drat: num 3.6
 $ wt  : num 3.22
 $ qsec: num 17.8
 $ vs  : num 0.438
 $ am  : num 0.406
 $ gear: num 3.69
 $ carb: num 2.81

In [49]:
#sapply
#Aceita lista, vetor ou dataframe como entrada e retorna um vetor 
#Quando a entrada for um dataframe obrigatoriamente trabalha com colunas.

In [50]:
sapply(df, function(df) df*2)

      mpg  cyl disp  hp  drat wt     qsec  vs am gear carb
 [1,] 42.0 12  320.0 220 7.80  5.240 32.92 0  2   8    8
 [2,] 42.0 12  320.0 220 7.80  5.750 34.04 0  2   8    8
 [3,] 45.6  8  216.0 186 7.70  4.640 37.22 2  2   8    2
 [4,] 42.8 12  516.0 220 6.16  6.430 38.88 2  0   6    2
 [5,] 37.4 16  720.0 350 6.30  6.880 34.04 0  0   6    4
 [6,] 36.2 12  450.0 210 5.52  6.920 40.44 2  0   6    2
 [7,] 28.6 16  720.0 490 6.42  7.140 31.68 0  0   6    8
 [8,] 48.8  8  293.4 124 7.38  6.380 40.00 2  0   8    4
 [9,] 45.6  8  281.6 190 7.84  6.300 45.80 2  0   8    4
[10,] 38.4 12  335.2 246 7.84  6.880 36.60 2  0   8    8
[11,] 35.6 12  335.2 246 7.84  6.880 37.80 2  0   8    8
[12,] 32.8 16  551.6 360 6.14  8.140 34.80 0  0   6    6
[13,] 34.6 16  551.6 360 6.14  7.460 35.20 0  0   6    6
[14,] 30.4 16  551.6 360 6.14  7.560 36.00 0  0   6    6
[15,] 20.8 16  944.0 410 5.86 10.500 35.96 0  0   6    8
[16,] 20.8 16  920.0 430 6.00 10.848 35.64 0  0   6    8
[17,] 29.4 16  880.0 460 6.46 10.690 34.84 0  0   6    8
[18,] 64.8  8  157.4 132 8.16  4.400 38.94 2  2   8    2
[19,] 60.8  8  151.4 104 9.86  3.230 37.04 2  2   8    4
[20,] 67.8  8  142.2 130 8.44  3.670 39.80 2  2   8    2
[21,] 43.0  8  240.2 194 7.40  4.930 40.02 2  0   6    2
[22,] 31.0 16  636.0 300 5.52  7.040 33.74 0  0   6    4
[23,] 30.4 16  608.0 300 6.30  6.870 34.60 0  0   6    4
[24,] 26.6 16  700.0 490 7.46  7.680 30.82 0  0   6    8
[25,] 38.4 16  800.0 350 6.16  7.690 34.10 0  0   6    4
[26,] 54.6  8  158.0 132 8.16  3.870 37.80 2  2   8    2
[27,] 52.0  8  240.6 182 8.86  4.280 33.40 0  2  10    4
[28,] 60.8  8  190.2 226 7.54  3.026 33.80 2  2  10    4
[29,] 31.6 16  702.0 528 8.44  6.340 29.00 0  2  10    8
[30,] 39.4 12  290.0 350 7.24  5.540 31.00 0  2  10   12
[31,] 30.0 16  602.0 670 7.08  7.140 29.20 0  2  10   16
[32,] 42.8  8  242.0 218 8.22  5.560 37.20 2  2   8    4

In [51]:
var <- sapply(df, function(df) df*2)
              
str(var)

 num [1:32, 1:11] 42 42 45.6 42.8 37.4 36.2 28.6 48.8 45.6 38.4 ...
 - attr(*, "dimnames")=List of 2
  ..$ : NULL
  ..$ : chr [1:11] "mpg" "cyl" "disp" "hp" ...

In [52]:
var[3,2]

cyl
  8

In [54]:
#Exemplo de conta letras

nomes <- c("Outspoken", "Market")

sapply(nomes, nchar)

Outspoken    Market
        9         6

In [55]:
nchar(nomes)

[1] 9 6

In [56]:
#Usando uma funcao personalizada

max_min_media <- function(var) {
    (min(var) + max(var)) / 2
}

In [57]:
max_min_media(df$mpg)

[1] 22.15

In [58]:
sapply(df, max_min_media)

     mpg      cyl     disp       hp     drat       wt     qsec       vs
 22.1500   6.0000 271.5500 193.5000   3.8450   3.4685  18.7000   0.5000
      am     gear     carb
  0.5000   4.0000   4.5000

In [59]:
lapply(df, max_min_media)

$mpg
[1] 22.15

$cyl
[1] 6

$disp
[1] 271.55

$hp
[1] 193.5

$drat
[1] 3.845

$wt
[1] 3.4685

$qsec
[1] 18.7

$vs
[1] 0.5

$am
[1] 0.5

$gear
[1] 4

$carb
[1] 4.5

In [60]:
#tapply
#Aplicar uma funcao a uma parte especifica de um dataframe
#Quando a entrada for um dataframe obrigatoriamente trabalha com colunas.

In [61]:
tapply(df$mpg, df$cyl, mean)

       4        6        8
26.66364 19.74286 15.10000

In [63]:
iris_data <- iris

head(iris_data)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [66]:
tapply(iris_data$Petal.Length, iris_data$Species, mean)

    setosa versicolor  virginica
     1.462      4.260      5.552

In [67]:
acima_media <- function(x){
    media <- mean(x)
    return(round(sum(x > media)/dim(iris_data)[1]*100,2))
}

In [68]:
tapply(iris_data$Petal.Length, iris_data$Species, acima_media)

    setosa versicolor  virginica
     17.33      18.00      16.67

In [69]:
tapply(iris_data$Sepal.Length, iris_data$Species, acima_media)

    setosa versicolor  virginica
     14.67      16.00      14.67

In [72]:
lapply(iris_data[,1:4], acima_media) #tem que ser de 1:4 porque ele não lida com o valor categórico

$Sepal.Length
[1] 46.67

$Sepal.Width
[1] 44.67

$Petal.Length
[1] 62

$Petal.Width
[1] 60

In [71]:
sapply(iris_data[,1:4], acima_media)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       46.67        44.67        62.00        60.00