In [2]:
#Isso é um comentário

In [3]:
4

[1] 4

In [4]:
var1 <- 55

In [6]:
var1

[1] 55

In [7]:
var1

[1] 55

In [8]:
2 + 2

[1] 4

In [9]:
2**8

[1] 256

In [10]:
2^8

[1] 256

In [11]:
var1*2

[1] 110

In [12]:
var2<- 10

In [13]:
var2 * var1

[1] 550

In [14]:
var3 <- var2 * var1

In [15]:
var3

[1] 550

In [17]:
print(var3)

[1] 550

In [18]:
redacao <- "Olá mundo"

In [19]:
print(redacao)

[1] "Olá mundo"

In [20]:
var4

ERROR: Error in eval(expr, envir, enclos): objeto 'var4' não encontrado

In [25]:
i <- 17

In [26]:
if(i<18){
    print("Menor de idade")
}else{
    print("Maior de idade")
}

[1] "Menor de idade"

In [32]:
#Imposto de renda
s <- 50000

In [33]:
if(s<10000){
    ir<-0
}else if(s<30000){
    ir<-.3
}else{
    ir<-.4
}

In [34]:
print(ir)

[1] 0.4

In [35]:
print(paste("Meu imposto é:", s*ir))

[1] "Meu imposto é: 20000"

In [1]:
vetor1 <- c(1,2,"tres")

In [2]:
vetor1

[1] "1"    "2"    "tres"

In [3]:
class(vetor1)

[1] "character"

In [4]:
str(vetor1)

 chr [1:3] "1" "2" "tres"

In [5]:
vet_num <- c(1,2,3,4,10)

In [6]:
vet_num

[1]  1  2  3  4 10

In [7]:
str(vet_num)

 num [1:5] 1 2 3 4 10

In [8]:
vet_num[5]

[1] 10

In [9]:
vet_num[6]

[1] NA

In [10]:
vet_num[1]<-100

In [11]:
vet_num

[1] 100   2   3   4  10

In [13]:
vet_num[6]<-1000
vet_num

[1]  100    2    3    4   10 1000

In [15]:
vet_num[20]<-500
vet_num

 [1]  100    2    3    4   10 1000   NA   NA   NA   NA   NA   NA   NA   NA   NA
[16]   NA   NA   NA   NA  500

In [17]:
vetor3<-c()
vetor3
class(vetor3)
str(vetor3)

NULL

[1] "NULL"

 NULL

In [18]:
lista1<-list(vetor1,vet_num)
lista1

[[1]]
[1] "1"    "2"    "tres"

[[2]]
 [1]  100    2    3    4   10 1000   NA   NA   NA   NA   NA   NA   NA   NA   NA
[16]   NA   NA   NA   NA  500

In [19]:
class(lista1)
str(lista1)

[1] "list"

List of 2
 $ : chr [1:3] "1" "2" "tres"
 $ : num [1:20] 100 2 3 4 10 1000 NA NA NA NA ...

In [21]:
lista1[1]
lista1[[1]]
lista1[[1]][3]

[[1]]
[1] "1"    "2"    "tres"

[1] "1"    "2"    "tres"

[1] "tres"

In [23]:
lista1[[1]][4]<-"Dez"
lista1[[1]]

[1] "1"    "2"    "tres" "Dez"