In [2]:
install.packages("tidyverse")

also installing the dependencies 'bit', 'glue', 'bit64', 'progress', 'xfun', 'blob', 'vctrs', 'rlang', 'tidyselect', 'data.table', 'cli', 'gargle', 'ids', 'isoband', 'vroom', 'tzdb', 'knitr', 'broom', 'crayon', 'dbplyr', 'dplyr', 'dtplyr', 'forcats', 'googledrive', 'googlesheets4', 'ggplot2', 'haven', 'hms', 'jsonlite', 'lubridate', 'magrittr', 'modelr', 'pillar', 'readr', 'reprex', 'rvest', 'tibble', 'tidyr', 'xml2'

  There are binary versions available but the source versions are later:
              binary source needs_compilation
glue           1.4.2  1.6.1              TRUE
xfun            0.22   0.29              TRUE
blob           1.2.1  1.2.2             FALSE
rlang         0.4.11  1.0.1              TRUE
data.table    1.14.0 1.14.2              TRUE
cli            2.5.0  3.2.0              TRUE
gargle         1.1.0  1.2.0             FALSE
isoband        0.2.4  0.2.5              TRUE
vroom          1.4.0  1.5.7              TRUE
tzdb           0.1.1  0.2.0              TRUE
knitr           1.33   1.37             FALSE
broom          0.7.6 0.7.12             FALSE
crayon         1.4.1  1.5.0             FALSE
dplyr          1.0.6  1.0.8              TRUE
dtplyr         1.1.0  1.2.1             FALSE
googledrive    1.0.1  2.0.0             FALSE
googlesheets4  0.3.0  1.0.0             FALSE
ggplot2        3.3.3  3.3.5             FALSE
haven          2.4.1  2.4.3              TRUE
hms            1.0.0  1.1.1             FALSE
jsonlite       1.7.2  1.7.3              TRUE
lubridate     1.7.10  1.8.0              TRUE
magrittr       2.0.1  2.0.2              TRUE
pillar         1.6.0  1.7.0             FALSE
readr          1.4.0  2.1.2              TRUE
reprex         2.0.0  2.0.1             FALSE
rvest          1.0.0  1.0.2             FALSE
tibble         3.1.1  3.1.6              TRUE
tidyr          1.1.3  1.2.0              TRUE
xml2           1.3.2  1.3.3              TRUE

  Binaries will be installed
package 'bit' successfully unpacked and MD5 sums checked
package 'glue' successfully unpacked and MD5 sums checked
package 'bit64' successfully unpacked and MD5 sums checked
package 'progress' successfully unpacked and MD5 sums checked
package 'xfun' successfully unpacked and MD5 sums checked
package 'vctrs' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked
package 'tidyselect' successfully unpacked and MD5 sums checked
package 'data.table' successfully unpacked and MD5 sums checked
package 'cli' successfully unpacked and MD5 sums checked
package 'ids' successfully unpacked and MD5 sums checked
package 'isoband' successfully unpacked and MD5 sums checked
package 'vroom' successfully unpacked and MD5 sums checked
package 'tzdb' successfully unpacked and MD5 sums checked
package 'dbplyr' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked
package 'forcats' successfully unpacked and MD5 sums checked
package 'haven' successfully unpacked and MD5 sums checked
package 'jsonlite' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'jsonlite'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying D:\Programas\Anaconda\envs\R\Lib\R\library\00LOCK\jsonlite\libs\x64\jsonlite.dll to D:\Programas\Anaconda\envs\R\Lib\R\library\jsonlite\libs\x64\jsonlite.dll: Permission denied"Warning message:
"restored 'jsonlite'"

package 'lubridate' successfully unpacked and MD5 sums checked
package 'magrittr' successfully unpacked and MD5 sums checked
package 'modelr' successfully unpacked and MD5 sums checked
package 'readr' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyr' successfully unpacked and MD5 sums checked
package 'xml2' successfully unpacked and MD5 sums checked
package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\andre\AppData\Local\Temp\RtmpAbhUVT\downloaded_packages

installing the source packages 'blob', 'gargle', 'knitr', 'broom', 'crayon', 'dtplyr', 'googledrive', 'googlesheets4', 'ggplot2', 'hms', 'pillar', 'reprex', 'rvest'

Warning message in install.packages("tidyverse"):
"installation of package 'knitr' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'ggplot2' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'broom' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'dtplyr' had non-zero exit status"

In [3]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"

ERROR: Error: package or namespace load failed for 'tidyverse' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 namespace 'broom' 0.5.2 is being loaded, but >= 0.7.6 is required

In [4]:
setwd('Dados')

In [5]:
bank_data <- read.table("bank-full.csv",
                       header = TRUE, sep = ";")

In [6]:
head(bank_data)

dim(bank_data)

  age job          marital education default balance housing loan contact day
1 58  management   married tertiary  no      2143    yes     no   unknown 5
2 44  technician   single  secondary no        29    yes     no   unknown 5
3 33  entrepreneur married secondary no         2    yes     yes  unknown 5
4 47  blue-collar  married unknown   no      1506    yes     no   unknown 5
5 33  unknown      single  unknown   no         1    no      no   unknown 5
6 35  management   married tertiary  no       231    yes     no   unknown 5
  month duration campaign pdays previous poutcome y
1 may   261      1        -1    0        unknown  no
2 may   151      1        -1    0        unknown  no
3 may    76      1        -1    0        unknown  no
4 may    92      1        -1    0        unknown  no
5 may   198      1        -1    0        unknown  no
6 may   139      1        -1    0        unknown  no

[1] 45211    17